@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
*{
	margin: 0;
	padding: 0;
}

nav{
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	height: 56px;
}

.content{
	font-family: 'Potta One', cursive;
}

.container{
	width: 60vw;
	margin: auto;
	padding: 30px;
	font-family: 'Potta One', cursive;
}

.logo{
	padding: 15px;
}

.logo img{
	width: 25px;
}

.toolbar-item button{
	cursor: pointer;
	color: white;
	border: 1px solid white;
	border-radius: 15px;
	padding: 5px 14px;
}